@import '../../../assets/sass/mixins.scss';

.user {
  text-align: center;
  margin-bottom: 50px;

  &__name {
    margin-bottom: 20px;
  }

  &__email {
    color: $color-twilight-blue;
    text-decoration: none;
    padding-bottom: 2px;
    position: relative;
    transition: color .2s ease-in-out;
    display: inline-block;
    margin-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: $color-twilight-blue;
      transition: background-color .2s ease-in-out;
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      color: $color-mirage;

      &::after {
        background-color: $color-mirage;
      }
    }
  }

  &__avatar {
    display: block;
    margin: 0 auto;
  }
}
