@import '../../../assets/sass/mixins.scss';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color-keppel, .8);

  &__box {
    position: absolute;
    overflow-y: auto;
    left: 30px;
    right: 30px;
    top: 50px;
    bottom: 50px;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: $color-twilight-blue;
    box-shadow: 0px 0px 10px 5px rgba($color-paradiso, .5);

    @include md {
      top: 100px;
      bottom: 100px;
    }
  }

  &__content {
    overflow: hidden;
    padding: 30px;
  }
}
