/* Containers */
$content-max-width: 1140px;

/* Breakpoints */
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

/* Fonts */
$font-family-heading: 'Anton-Regular', sans-serif;
$font-family-base: 'Lato-Regular', sans-serif;
$font-family-base-light: 'Lato-Light', sans-serif;
$font-family-base-bold: 'Lato-Bold', sans-serif;

/* Colours */
$color-black: #000000;
$color-mirage: #17252A;
$color-friar-gray: #7C7C7B;
$color-paradiso: #2B7A78;
$color-keppel: #3AAFA9;
$color-swans-down: #DEF2F1;
$color-twilight-blue: #FEFFFF;
$color-white: #FFFFFF;
